<div class="header-container">
    <div class="header-left">
        <h1>
            <a href="/dashboard">Quiz App</a>
        </h1>
    </div>
    <form action="/users/login" method="POST">
        <div class="header-right">
            <input class="header-input mail" type="email" name="email" placeholder="Enter your email">
            <input class="header-input pwd" type="password" name="password" placeholder="Enter your password">
            <input class="header-input bt" type="submit" value="Log In">
        </div>
    </form>

</div>