<div class="inner-header-container">
    <div class="home">
        <a href="/dashboard">
            <button>
                Home
            </button>
        </a>
    </div>

    <div class="logout-btn">
        <a href="/logout">
            <button>
                Logout
            </button>
        </a>
    </div>


</div>