<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Registration Form</title>
</head>

<body>
    <% include partials/innerHeader %>

    <h2>
        <%= quiz.title %>
    </h2>

    <h4>
        Number of Questions :
        <%= quiz.question.length%>
    </h4>
    <% if(quiz.question.length){ %>
        <a href="/quizs/<%= quiz._id%>/play/1"><button>START</button></a>
      <% } else{ %>  
        <h5>NO QUESTION IN QUIZ</h5>
     <% } %>
    
</body>

</html>